
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  color: #001028;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  font-family: Arial;
}

header {
  padding: 10px 0;
  margin-bottom: 30px;
  width: 650px;
}

#logo {
  text-align: center;
  margin-bottom: 10px;
}

#logo img {
  width: 350px;
}

h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #5D6975;
  font-size: 1.6em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
}

#project {
  float: left;
}

#project span {
  color: #5D6975;
  text-align: right;
  width: 52px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.9em;
}

.company {
  text-align: right;
  margin: 10px;
}

#project div,
.company div {
  white-space: nowrap;        
}
.general_content{
  
}
.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 120px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 80%;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  font-size:16px;
  padding:14px;
  text-align:center;
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:12px;
  font-weight:normal;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
 
tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:white;
  padding:5px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:12px;
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}